button{
    display: block;
    background-color: black;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 10px ;
    margin-left: 20px;
    margin-top: 20px;
}
li{
    list-style: none;
    font-size: 18px;
}
div{
    height: 50px;
    background-color: black;
    padding: 20px;
}
h1{
    color: white;
}
a, p{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 18px;
    margin: 10px;
}
ul{
    margin-top: 20px;
}
img{
    height: 150px;
    margin-top: 20px;
    cursor: pointer;
}