<div><h1>Лабораторна робота 2</h1></div>

<button (click)="getAnimals()">Get Animal</button>

<ul>
  <li *ngFor="let ani of animalList">
    Title:{{ani.title}}
  </li>
  <li *ngFor="let ani of animalList">
    age: {{ani.age}} years
  </li>
  <li *ngFor="let ani of animalList">
    Info: {{ani.info}}
  </li>
</ul>

<h3>Add animal</h3>
<form #form1="ngForm" (ngSubmit)="addAnimal(form1.value)">
  <input type="text" name="title" value="" ngModel>
  <br>
  <input type="number" name="age" value="0" ngModel>
  <br>
  <input type="text" name="info" value="" ngModel>
  <br>
  <input type="submit" value="Add Animal">
</form>